# Text Editor files #
###################
*.pyc

# Other files #
###################
*.json
sample.py
test3.txt
default.sqlite
mydb.sqlite
.coverage

# Folders #
###################
virtualenv/
include/
lib/
.cache/
__pycache__/
local/
bin/

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
